[submodule "plugins/rbenv-default-gems"]
	path = plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems
[submodule "/Users/harwood/.anyenv/envs/rbenv/plugins/rbenv-vars"]
	path = /Users/harwood/.anyenv/envs/rbenv/plugins/rbenv-vars
	url = https://github.com/rbenv/rbenv-vars
